export(GSCARplot)
export(GSCAR)
export(GSCAReda)
export(annotatePeaks)
export(tabSearch)
export(ConstructTG)
export(GSCARui)
importFrom(graphics, abline, legend, plot, points)
import(shiny)
import(sp)
import(GSCARdata)
import(gplots)
import(ggplot2)
import(reshape2)
import(RColorBrewer)